<article>
    <h2>About</h2>
    <section id = "about_me_paragraph">
    <!--Section semantic tag for the paragraph to enclose the paragraph in a space narrower than the article allows.-->
        <p>
            Greetings!
            <br>
            <br>
            My name is Arvin Ziba. I am currently a second year student at Ontario Tech University (formerly UOIT) working towards a Bachelor of IT. My interests or really subjects I enjoy talking about include 
            but are not limited to physics, chemistry, mathematics, language learning, video games, and computers. When it comes to computing I am particularly interested 
            in the networking and communication aspect of it. Heck I can talk all day about networking. There is just something so thrilling and awe-inspring about being part of  
            a technology permitting fast and reliable intercontinental communication across the globe. Even to me, as someone who grow up in the information era.
            As for hobbies or leisure activities, I enjoy meditating, D&D, video games, and reading. Did I mention video games twice? Eh whatever. It's because I love them. My top five favourite games of all time are CS2, Baldur's Gate 3, CIV VI, TF2, and Spelunky. 

            Anyways, it feels great to share a bit about myself. Feel free to reach out if you share any of these interests or just want to chat. 
            <br>
            <br>
            Cheers!
            <br>
            <br>
            BTW check out the short video video down below of a neat party trick I am learning.
        </p> 
    </section>
    
    <img id = "selfie" src="/images/Selfie.JPG" alt="Some selfie of myself." width="170" height="212.5">

    <video id ="juggling_vid" width= "320", height="240" preload>
        <!--Controls poster: Overlay an image when video hasn't been played yet; Preload: start downloading video as the webpage loads-->
        <source src="/videos/mobile_video.mp4" type="video/mp4" >
        Your browser does not support the video tag. 
        <!--Conditionally displayed text-->
    </video>
</article>
