<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="style_laptop_or_desktop.css" media="only screen and (min-width: 960px)">
    <link rel="stylesheet" type="text/css" href="style_tablet.css" media="only screen and (min-width: 481px) and (max-width: 959px)">
    <link rel="stylesheet" type="text/css" href="style_mobile.css" media="only screen and (max-width: 480px)"> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Teko:wght@300&display=swap" rel="stylesheet">

    <title>Arvin's Website</title>
</head>

<body class ="Home">

    <header>
        <h1>
            Arvin's Website
        </h1>
        <nav>
            <div class ="box_active"><a href="home.html" class="link">Home</a></div>
            <div class ="box"><a href="projects.html" class="link">Projects</a></div>
            <div class ="box"><a href="contact_me.html" class="link">Contact</a></div>
            <div class ="box"><a href="about_me.html" class="link">About</a></div>
        </nav>
    </header>

    <article>
        <p> Hello and welcome to my programming portfolio. If you navigate to the "Projects" page you'll find the list of programs written by me that I am most pround of. 
        If you wish to contact me or learn more about me, then I also have links to pages for just that above. Thanks for visiting! </p>
    </article>

    <footer>
        <p>&copy; Arvin Ziba 2023 </p>
        <address>
            <p>Contact: arvin.ziba@ontariotechu.net</p>
        </address>
    </footer>

</body>
</html>