<article>
    <p> Hello and welcome to my programming portfolio. If you navigate to the "Projects" page you'll find the list of programs written by me that I am most pround of. 
    If you wish to contact me or learn more about me, then I also have links to pages for just that above. Thanks for visiting! </p>
</article>
