<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Teko:wght@300&display=swap" rel="stylesheet">

    <title>Arvin's Website</title>
</head>

<header>
    <h1>
        Arvin's Website
    </h1>
    <nav>
        <div class ="box"><a href="/" class="link">Home</a></div>
        <div class ="box"><a href="projects" class="link">Projects</a></div>
        <div class ="box"><a href="contact" class="link">Contact</a></div>
        <div class ="box"><a href="about" class="link">About</a></div>
    </nav>
</header>

<%- include(body) %>

<footer>
    <p>&copy; Arvin Ziba 2023 </p>
    <a href="https://github.com/ArvinoBoro">My Github</a>
    <br>
    <a href="https://www.linkedin.com/in/arvin-ziba-51493424b/"> My LinkedIn</a>
    <address>
        <p>Email: arvin.ziba@ontariotechu.net</p>
    </address>
</footer>