<article>
    <h2>Projects</h2>

    <p> Here you'll find a list of my top 5 programming projects I've worked on as well as the programming project I am currently working on. </p>
    <br>
    <ol>
    <!--Create an ordered list-->
        <li>Quadratic Equation Solver</li>
        <!--Add the first item in the list.-->
        A simple, yet very handy Python script for solving quadratic equations just by entering the values of the coefficients.

        <br>

        <li>Top-10 Word Counter</li>
        <!--Add the second item in the list.-->
        Enter any amount of text and the Python script will list the top-10 most frequently used words with their respective frequencies.

        <br>

        <li>Tic-Tac-Toe Game</li>
        <!--Add the third item in the list.-->
        A C++ written program that runs a game of Tic-Tac-Toe. 

        <br>

        <li>Device Name to IP Address Mapper</li>
        <!--Add the fourth item in the list.-->
        Never loose track of which IP addresses belong to which devices on a given network. Create an Excel file listing device names to their respective burned-in (MAC) addresses. Then, reference the excel file in the Python script and have it
        automatically run an ARP request to map the listed devices to their current IP addresses in the network. 

        <br>

        <li>Encryption / Decryption Suite</li>
        <!--Add the fifth item in the list.-->
        Utilize one of the several ciphers programed in the Python script, such as playfair, caeser shift, and transposition. 
        You may work with the predifined cipher keys in the plaintext message class or write your own. Once the cipher keys are defined simply enter the plaintxt, select the cipher, and the program will encrypt the data for you.
    </ol>

    <h3> LAN Instant Messager (LANIM) </h3>

    <p>
        This Python program allows a user to define and send short messages across their LAN for other hosts running the same program to receive and open.
        I'll be honest this is quite a major technical leap from my other projects, but you have to remember that the projects listed above are my top 5 completed projects.
        I've been doing a lot of testing and debugging across various projects, never getting to completing any of them. That's going to change with this project. 
    </p>    
</article>